/*
	0.1 default css
	0.2 list container

	1.0 casino container
	2.0 tip grid area

*/

/*
	0.1 default css
*/
html {
	font-size: 62.5%;
	background-color: #a22;
}

.material-icons {
	position: relative;
	top: 0.6rem;
}

/*
	0.2 list container
*/
.emcasino-list {
	opacity: 1 !important;
	user-select: none;
}

.emcasino-header {
	/*height: 3rem;*/
	display: flex;
	justify-content: space-between;
	padding-right: 1rem;
	font-size: 2rem;
	font-family: "Roboto";
	color: white;
	text-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black;
}




/*
	1.0 casino container
*/
.emcasino-o-container {
	position: relative;
	display: flex;
	max-width: 84rem;
	margin-bottom: 1rem;
}

.emcasino-container {
	display: flex;
	/*background-color: #cfc;*/
	/*background-color: #a22;*/
	/*background-color: #fee;*/
	background-color: #fff;
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
	width: 100%;
	height: 7rem;
	align-items: center;

	text-decoration: none;
	font-size: 2.6rem;
	font-family: "Roboto";
	text-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black;
	border: solid 2px #222;
	border-right: none;
}

.emcasino-bonus {
	/*color: #55f;*/
	color: #a22;
}

.emcasino-freespins {
	color: #fa0;
	/*color: #000;*/
	font-size: 2rem;
}

.emcasino-container:hover {
	/*background-color: #afa; */
	/*background-color: #a55; */
	background-color: #fdd; 
}

.emcasino-playhere-container,
.emcasino-logo-container {
	/*width: 264px !important;*/
	width: 16rem;
}

/*
	1.1 casino logo
*/
.emcasino-logo-container {
	margin-left: 1rem;
	/*padding: 0.5rem 0;*/
}

.emcasino-logo {
	/*max-width: 15rem;*/
	max-height: 5rem;
	vertical-align: middle;
}

/*
	1.2 bonus
*/
.emcasino-welcome-container {
	flex-grow: 1;
	text-align: center;
}


.emcasino-bonus {
	display: block;
}

/*
	1.3 play here
*/
.emcasino-playhere-container {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	background-color: #efe;

	text-decoration: none;
	color: #2a2;
	font-size: 2.6rem;
	font-family: "Roboto";
	text-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black;
	box-sizing: border-box;
	min-width: 16rem;
	border: solid 2px #222;
	/*border: solid 2px #22a;*/
	border-left: none;
}

.emcasino-playhere-container:hover {
	background-color: #cfc; 
	/*background-color: #0f0; */
	/*background-color: #aaf;*/
}

.emcasino-playhere-container:after {
    position: absolute;

    top: 1px;
    bottom: 0;
    /*right: 14.8%;*/
    right: 15rem;
    width: 10px;

    background: linear-gradient(45deg, #222 3px, transparent 0), linear-gradient(135deg, #222 3px, transparent 0),
    			linear-gradient(225deg, #222 3px, transparent 0), linear-gradient(315deg, #222 3px, transparent 0);
    background-size: 20px 8px;
    content: '';
    /*opacity: .4;*/
    z-index: 50;
}

/*
	2.0 tip grid area

*/
.frontpage-news .emtheme-box,
.frontpage-tip .emtheme-box {
	border: solid 2px black;
	border-radius: 0.5rem;
}

/*.emcasino-sidelist-header,*/
.frontpage-news,
.frontpage-tip {
	/*display: block;*/
	/*height: 3rem;*/
	/*line-height: 3rem;*/
	font-size: 2rem;
	font-family: "Roboto";
	color: white;
	text-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black;
}

.frontpage-news p,
.frontpage-tip p {
	margin: 0;
}

.frontpage-news {
	margin-right: 2rem;
}

.frontpage-tip {
	/*margin-let: 1rem;*/
}

.frontpage-tip > .emtheme-boxes {
	/*width: 100% !important;*/
}


/*
	sidelist
*/
.emcasino-sidelist {
	margin-left: 1rem;
}

.emcasino-sidelist-header {
	font-size: 2rem;
	font-family: "Roboto";
	color: white;
	text-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black;
}

.emcasino-sidelist-ul {
	padding: 0;
	margin: 0;
}

.emcasino-sidelist-link {
	text-decoration: none;
}

.emcasino-sidelist-li {
	list-style: none;
}

.emcasino-sidelist-image {
	width: 26rem;
	height: 3.2rem;
	line-height: 2.8rem;
	margin-bottom: 1rem;
	border: solid 2px black;
	border-radius: 0.5rem;

	box-sizing: border-box;

	background-size: contain;
	background-repeat: no-repeat ;
}

.emcasino-sidelist-text {
	font-size: 1.6rem;
	margin-left: 1rem;
	font-family: "Roboto";
	text-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black;
	color: white;
}



